@font-face {
  font-family: "FallingSky";
  src: url("../assets/fonts/falling_sky/woff2/FallingSky.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSky.woff") format("woff");
}

@font-face {
  font-family: "FallingSkyObl";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyObl.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyObl.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_Light";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyLight.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyLight.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_LightObl";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyLightObl.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyLightObl.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_Medium";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyMed.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyMed.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_MediumObl";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyLightMedObl.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyLightMedObl.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_Bold";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyBd.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyBd.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_BoldObl";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyLightBdObl.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyLightBdObl.woff") format("woff");
}



/* HTML ELEMENTS */
body {
  margin: 0;
  background-color: #E6E6EA;
  font-family: FallingSky;
}



/* GLOBAL ELEMENTS */
.global-separator {
  height: 36px;
}



/* HEADER */
.header-fluid {
  background-color: #0B0500;
  color: #E6E6EA;
}

.header-row {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-col {
  display: flex;
  align-items: center;
  padding: 0;
}

.header-col1 {
  justify-content: flex-start;
}

.header-col2 {
  justify-content: flex-end;
}

.header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-li {
  display: inline;
}

.header-a {
  color: #E6E6EA;
  font-family: FallingSky_Light;

  text-decoration: none;
  text-transform: uppercase;

  padding-left: 8px;
  padding-right: 8px;
}

.header-a:hover {
  color: #FED766;
  transition: 0.3s;
}



/* FOOTER */
.footer-fluid {
  background-color: #0B0500;
  color: #E6E6EA;
}

.footer-row {
  padding-top: 52px;
  padding-bottom: 52px;
}