/* FALLING SKY */
@font-face {
  font-family: "FallingSky";
  src: url("../assets/fonts/falling_sky/woff2/FallingSky.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSky.woff") format("woff");
}

@font-face {
  font-family: "FallingSkyObl";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyObl.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyObl.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_Light";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyLight.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyLight.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_LightObl";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyLightObl.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyLightObl.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_Medium";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyMed.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyMed.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_MediumObl";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyLightMedObl.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyLightMedObl.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_Bold";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyBd.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyBd.woff") format("woff");
}

@font-face {
  font-family: "FallingSky_BoldObl";
  src: url("../assets/fonts/falling_sky/woff2/FallingSkyLightBdObl.woff2") format("woff2"),
         url("../assets/fonts/falling_sky/woff/FallingSkyLightBdObl.woff") format("woff");
}



/* LOUIS GEORGE CAFE */
@font-face {
  font-family: "LGC";
  src: url("../assets/fonts/louis_george_café/woff/LGC.woff") format("woff");
}

@font-face {
  font-family: "LGC_Obl";
  src: url("../assets/fonts/louis_george_café/woff/LGC_Obl.woff") format("woff");
}

@font-face {
  font-family: "LGC_Light";
  src: url("../assets/fonts/louis_george_café/woff/LGC_Light.woff") format("woff");
}

@font-face {
  font-family: "LGC_LightObl";
  src: url("../assets/fonts/louis_george_café/woff/LGC_LightObl.woff") format("woff");
}

@font-face {
  font-family: "LGC_Bold";
  src: url("../assets/fonts/louis_george_café/woff/LGC_Bold.woff") format("woff");
}

@font-face {
  font-family: "LGC_BoldObl";
  src: url("../assets/fonts/louis_george_café/woff/LGC_BoldObl.woff") format("woff");
}



/* LEAGUE GOTHIC */
@font-face {
  font-family: "LeagueGothic";
  src: url("../assets/fonts/league_gothic/woff2/LeagueGothic.woff2") format("woff2"),
         url("../assets/fonts/league_gothic/woff/LeagueGothic.woff") format("woff");
}



/* CONSTANTS */
:root {
  --akm-red: #FE4A49;
  --akm-blue: #009FB7;
  --akm-gold: #FED766;

  --akm-red-dark: #C43838;
  --akm-blue-dark: #006979;
  --akm-gold-dark: #caac52;

  --akm-black: #0B0500;
  --akm-white: #E6E6EA;
  --akm-gray: #999999;
  --akm-darkgray: #444444;
}



/* HTML ELEMENTS */
body {
  margin: 0;
  background-color: var(--akm-black);
  font-family: FallingSky;
}

main {
  background-color: var(--akm-white);
}

p {
  margin: 16px;
}



/* GLOBAL ELEMENTS */
.col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 36px;
  font-family: LGC_Bold;
  text-align: center;
}

.subtitle {
  font-size: 28px;
  margin-bottom: 16px;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  width: 100%;
  margin-top: 16px;
}

.input {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  
  border: none;
  border-bottom: 1px solid var(--akm-black);
  background: none;
  transition: 0.2s;
}

.input:focus {
  outline: none !important;
  border: none;
  background: none;
  transition: 0.2s;
}

.input-red:focus {
  border-bottom: 1px solid var(--akm-red);
}

.input-blue:focus {
  border-bottom: 1px solid var(--akm-blue);
}

.input-gold:focus {
  border-bottom: 1px solid var(--akm-gold);
}

.button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 8px;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
}

.button-red {
  background-color: var(--akm-red);
  color: var(--akm-white);
  transition: 0.3s;
}

.button-red:hover {
  background-color: var(--akm-red-dark);
  transition: 0.3s;
}

.button-blue {
  background-color: var(--akm-blue);
  color: white;
  transition: 0.3s;
}

.button-blue:hover {
  background-color: var(--akm-blue-dark);
  transition: 0.3s;
}

.button-gold {
  background-color: var(--akm-gold);
  color: black;
  transition: 0.3s;
}

.button-gold:hover {
  background-color: var(--akm-gold-dark);
  transition: 0.3s;
}

.error {
  color: var(--akm-red);
  text-align: center;
}

.separator-s {
  height: 24px;
}

.separator-m {
  height: 32px;
}

.separator-l {
  height: 48px;
}

.separator-xl {
  height: 64px;
}

.vl {
  border-left: 1px solid var(--akm-black);
  height: 100%;
}



/* SCOLLBAR */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: var(--akm-white); }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }



/* HEADER */
.header-fluid {
  background-color: var(--akm-black);
  color: var(--akm-white);
}

.header-row {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-col {
  display: flex;
  align-items: center;
  padding: 0;
}

.header-col1 {
  justify-content: flex-start;
}

.header-col2 {
  justify-content: flex-end;
}

.header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-li {
  display: inline;
  padding: 12px;
}

.header-a {
  color: var(--akm-white);
  font-family: FallingSky_Light;

  text-decoration: none;
  text-transform: uppercase;

  padding-bottom: 8px;
  transition: 0.3s;
}

.header-a:hover {
  color: var(--akm-gold);
  transition: 0.3s;
}

.header-active {
  border-bottom: 2px solid var(--akm-white);
  transition: 0.3s;
}

.header-active:hover {
  border-bottom: 2px solid var(--akm-gold);
  transition: 0.3s;
}



/* FOOTER */
.footer-fluid {
  background-color: var(--akm-black);
  color: var(--akm-white);
}

.footer-row {
  padding-top: 72px;
  padding-bottom: 72px;
}

.footer-sitename {
  font-size: 42px;
  font-family: LeagueGothic;

  text-transform: uppercase;
  letter-spacing: 1px;

  margin-bottom: 16px;
}

.footer-text {
  font-family: LGC;
  margin-bottom: 8px;
}

.footer-subtext {
  font-family: LGC;
  color: var(--akm-gray);

  margin-bottom: 8px;
}

.footer-link {
  text-decoration: none;
  color: var(--akm-gray);
  transition: 0.3s;
}

.footer-link:hover {
  color: var(--akm-white);
  transition: 0.3s;
}

.footer-row2 {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--akm-black);
}

.footer-hr {
  color: var(--akm-white);
  margin: 0;
}



/* HOME */
.home-title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
}



/* SHOP */
.shop-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.shop-insideitem {
  text-align: left;
}

.shop-item-height {
  max-height: 64px;
  height: 64px;
}

.shop-item-name {
  font-size: 20px;
  font-weight: bold;
  color: var(--akm-black);

  text-overflow: ellipsis;
  overflow: auto;
}

.shop-item-description {
  font-size: 14px;
  color: var(--akm-darkgray);

  margin-bottom: 0;
  margin-right: 0;

  text-overflow: ellipsis;
  overflow: auto;
}

.shop-item-numbers {
  display: flex;
  font-size: 12px;
  color: var(--akm-gray);
  margin-top: 0;
  flex: 1;
}

.shop-item-id {
  text-align: right;
}

#sort-button, #filter-button {
  font-size: 14px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 12px;
  width: auto;
}



/* CART */
.cart-container {
  width: 50%;
}

.cart-quantity {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}